FRONTEND_DOCKERIMG_REPO={{ varsfl_frontend_dockerimg_repo}}
FRONTEND_DOCKERIMG_TAG={{ varsfl_frontend_dockerimg_tag }}

BACKEND_DOCKERIMG_REPO={{ varsfl_backend_dockerimg_repo }}
BACKEND_DOCKERIMG_TAG={{ varsfl_backend_dockerimg_tag }}

WSO2_IS_DOCKERIMG_REPO={{ varsfl_wso2_is_dockerimg_repo }}
WSO2_IS_DOCKERIMG_TAG={{ varsfl_wso2_is_dockerimg_tag }}

WSO2_APIM_DOCKERIMG_REPO={{ varsfl_wso2_apim_dockerimg_repo }}
WSO2_APIM_DOCKERIMG_TAG={{ varsfl_wso2_apim_dockerimg_tag }}

