APIM_HOSTNAME=apim.example.com

# proxy
APIM_PROXY_HOST=apim.example.com
APIM_PROXY_PORT=443

# admin password
APIM_ADMIN_USERNAME=admin
APIM_ADMIN_PASSWORD=

# database
APIM_DB_HOST=
APIM_DB_PORT=3306
APIM_DB_WSO2USER_USERNAME=wso2-user
APIM_DB_WSO2USER_PASSWORD=

APIM_DB_APIMDB=wso2_apim_db
APIM_DB_SHARED=wso2_apim_shared_db

# gateway
APIM_GATEWAY_URL=services.example.com

# is
IS_HOSTNAME=wso2-is
IS_ADMIN_USERNAME=admin
IS_ADMIN_PASSWORD=
