APP_NAME=EMIS-HRM
APP_ENV=local
APP_KEY=base64:changeme
APP_DEBUG=true
APP_URL=http://localhost:9000
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=emis_hrm_db_local
DB_USERNAME=emis-user-local
DB_PASSWORD=changeme
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database
MEMCACHED_HOST=memcached
VITE_APP_NAME=EMIS
WSO2_ENABLED=False
WSO2_BASE_URL=https://idp-local.emis.local
WSO2_M2M_CLIENT_ID=changeme
WSO2_M2M_CLIENT_SECRET=changeme
WSO2_TEACHER_ROLE_ID=changeme
WSO2_VERIFY_SSL=False
