VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/<tenant>
VITE_ASGARDEO_CLIENT_ID=
VITE_SIGNIN_REDIRECT_URL=https://app.example.com/authentication/callback
VITE_SIGNOUT_REDIRECT_URL=https://app.example.com/logout

VITE_API_BASE_URL=https://api.example.com/api/test
