IS_HOSTNAME=idp.example.com

# proxy
IS_PROXY_HOST=idp.example.com
IS_PROXY_PORT=443

# admin password
IS_ADMIN_NAME=admin
IS_ADMIN_PASSWORD=

# database
IS_DB_HOST=
IS_DB_PORT=3306
IS_DB_WSO2USER_USERNAME=wso2-user
IS_DB_WSO2USER_PASSWORD=

IS_DB_IDENTITY=wso2_is_db
IS_DB_SHARED=wso2_is_shared_db

# api manager
APIM_HOST=wso2-apim
APIM_PORT=9443
APIM_WSO2USER_USERNAME=admin
APIM_WSO2USER_PASSWORD=
