IS_HOSTNAME=idp-local.emis.local
IS_PROXY_HOST=idp-local.emis.local
IS_PROXY_PORT=443
IS_ADMIN_NAME=admin
IS_ADMIN_PASSWORD=changeme
IS_DB_HOST=mysql
IS_DB_PORT=3306
IS_DB_IDENTITY=wso2_is_db_local
IS_DB_SHARED=wso2_is_shared_db_local
IS_DB_WSO2USER_USERNAME=wso2-user-local
IS_DB_WSO2USER_PASSWORD=changeme
APIM_HOST=wso2-apim
APIM_PORT=9443
APIM_WSO2USER_USERNAME=admin
APIM_WSO2USER_PASSWORD=changeme
