[defaults]
# Inventory
inventory         = inventory/hosts.yml

# Vault
vault_password_file = .vault_pass

# SSH connection settings [is overridden in inventory/hosts.yml] 
remote_user       = ansible 
# private_key_file  = ~/.ssh/id_rsa

# Performance
forks             = 10
gathering         = smart
fact_caching      = jsonfile
fact_caching_connection = .facts_cache
fact_caching_timeout = 3600

# Output
stdout_callback   = default
callback_result_format = yaml
bin_ansible_callbacks = true

# Reduce noise
deprecation_warnings = false
host_key_checking    = false
retry_files_enabled  = false

[ssh_connection]
# SSH connection
pipelining        = true
ssh_args          = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
control_path      = /tmp/ansible-ssh-%%h-%%p-%%r
