### MYSQL DB variables

# general vars
varsfl_mysql_host: 127.0.0.1
varsfl_mysql_port: 3306
varsfl_mysql_bind_address: 0.0.0.0 # db listens for all incoming connections
varsfl_mysql_root_user: [XXX ROOT USER XXX]
varsfl_mysql_root_password: [XXX ROOT PASSWORD XXX]
varsfl_mysql_root_allowedhost: 127.0.0.1 # Only from local env

# emis vars
varsfl_mysql_emis_dbname: [XXX EMIS DB NAME XXX]
varsfl_mysql_emis_user: [XXX EMIS DB USER XXX]
varsfl_mysql_emis_password: [XXX EMIS DB USER PASSWORD XXX]
varsfl_mysql_emis_allowedhost: [XXX DOCKER NAT GTW IP XXX] # docker internal network gateway ip. Value from docker-compose.yml

# emis dev vars (Optional)
varsfl_mysql_devemis_user: [XXX EMIS DEV USER NAME XXX]
varsfl_mysql_devemis_password: [XXX EMIS DEV USER PASSWORD XXX]
varsfl_mysql_devemis_allowedhost: 0.0.0.0 # Any Host %

# wso2 db vars
varsfl_mysql_user_configured: [XXX WSO2 USER XXX]
varsfl_mysql_user_configured_password: [XXX WSO2 USER PASSWORD XXX]
varsfl_mysql_apim_db: wso2_apim_db
varsfl_mysql_apim_shared_db: wso2_apim_shared_db
varsfl_mysql_is_db: wso2_is_db
varsfl_mysql_is_shared_db: wso2_is_shared_db


### FRONTEND VARIABLES
varsfl_vite_asgardeo_base_url: https://api.asgardeo.io/t/airforce
varsfl_vite_asgardeo_client_id: XXXXX-CLIENT-ID-XXXXX
varsfl_vite_signin_redirect_url: https://app-uat.emis.moe.gov.lk/authentication/callback
varsfl_vite_signout_redirect_url: https://app-uat.emis.moe.gov.lk/logout

varsfl_vite_api_base_url: https://api-uat.emis.moe.gov.lk/api/test


### BACKEND VARIABLES

# backend laravel app variables
varsfl_app_key: [XXX LRVL APP KEY XXX] 
varsfl_app_url: app-uat.emis.moe.gov.lk
varsfl_app_env: local
varsfl_app_name: EMIS-HRM
varsfl_app_debug: true

# backend db connection variables
varsfl_db_host: 172.19.0.1
varsfl_db_port: 3306
varsfl_db_database: [XXX EMIS DB NAME XXX] # must be same as [mysql_emis_dbname] var
varsfl_db_username: [XXX EMIS DB USER XXX]
varsfl_db_password: [XXX EMIS DB USER PASSWORD XXX]

# backend wso2 is variables
varsfl_wso2_enabled: true
varsfl_wso2_base_url: https://api.asgardeo.io/t/airforce/
varsfl_wso2_m2m_client_id: [XXX WSO2 M2M CLIENT ID XXX]
varsfl_wso2_m2m_client_secret: [XXX WSO2 M2M CLIENT SECRET XXX]
varsfl_wso2_teacher_role_id: [XXX WSO2 TEACHER ROLE ID XXX]
varsfl_wso2_verify_ssl: true

# other
varsfl_memcached_host: 127.0.0.1


### DOCKER COMPOSE VARIABLES

# frontend docker image versions
varsfl_frontend_dockerimg_repo: [XXX FRONTEND IMG REPO XXX]
varsfl_frontend_dockerimg_tag: [XXX FRONTEND IMG TAG XXX] # auto filled by ghactions via frontend/DEPLOY_VERSION

# backend doccker image versions
varsfl_backend_dockerimg_repo: [XXX BACKEND IMG REPO XXX]
varsfl_backend_dockerimg_tag: [XXX BACKCEND IMG TAG XXX] # # auto filled by ghactions via backend/DEPLOY_VERSION

# wso2 asgardeo identity server repo custom image versions
varsfl_wso2_is_dockerimg_repo: [XXX WSO2 IS IMG REPO XXX]
varsfl_wso2_is_dockerimg_tag: [XXX WSO2 IS IMG TAG XXX]

# wso2 API Manager repo custom image versions
varsfl_wso2_apim_dockerimg_repo: [XXX WSO2 APIM IMG REPO XXX]
varsfl_wso2_apim_dockerimg_tag: [XXX WSO2 APIM IMG TAG XXX]
