STACK_NAME={{ stack_name }}
STACK_NETWORK_SUBNET={{ stack_network_subnet }}
FRONTEND_HOST_PORT={{ frontend_host_port }}
BACKEND_HOST_PORT={{ backend_host_port }}
IS_HOST_PORT={{ is_host_port }}

FRONTEND_DOCKERIMG_REPO={{ frontend_image_repo }}
FRONTEND_DOCKERIMG_TAG={{ frontend_image_tag }}

BACKEND_DOCKERIMG_REPO={{ backend_image_repo }}
BACKEND_DOCKERIMG_TAG={{ backend_image_tag }}

WSO2_IS_DOCKERIMG_REPO={{ is_image_repo }}
WSO2_IS_DOCKERIMG_TAG={{ is_image_tag }}
