APIM_HOSTNAME=

# proxy
APIM_PROXY_HOST=
APIM_PROXY_PORT=

# admin password
APIM_ADMIN_NAME=
APIM_ADMIN_PASSWORD=

# database
APIM_DB_HOST=
APIM_DB_PORT=
APIM_DB_WSO2USER_USERNAME=
APIM_DB_WSO2USER_PASSWORD=

APIM_DB_APIMDB=
APIM_DB_SHARED=

# gateway
APIM_SERVICE_URL=
