# Infisical runtime credentials (enables `infisical run` in container entrypoint)
INFISICAL_CLIENT_ID={{ infisical_apim_client_id }}
INFISICAL_CLIENT_SECRET={{ infisical_apim_client_secret }}
INFISICAL_PROJECT_ID={{ infisical_apim_project_id }}
INFISICAL_ENV={{ infisical_apim_env }}
