STACK_NAME={{ stack_name }}
STACK_NETWORK_SUBNET={{ stack_network_subnet }}
FRONTEND_HOST_PORT={{ frontend_host_port }}
BACKEND_HOST_PORT={{ backend_host_port }}
IS_HOST_PORT={{ is_host_port }}

FRONTEND_DOCKERIMG_REPO={{ frontend_image_repo }}
FRONTEND_DOCKERIMG_TAG={{ frontend_image_tag }}

BACKEND_DOCKERIMG_REPO={{ backend_image_repo }}
BACKEND_DOCKERIMG_TAG={{ backend_image_tag }}

WSO2_IS_DOCKERIMG_REPO={{ is_image_repo }}
WSO2_IS_DOCKERIMG_TAG={{ is_image_tag }}

WSO2_APIM_DOCKERIMG_REPO={{ apim_image_repo }}
WSO2_APIM_DOCKERIMG_TAG={{ apim_image_tag }}
APIM_HOST_PORT={{ apim_host_port }}
APIM_GATEWAY_PORT={{ apim_gateway_port }}
APIM_GATEWAY_HTTP_PORT={{ apim_gateway_http_port }}
