IS_HOSTNAME={{ is_hostname }}
IS_PROXY_HOST={{ is_proxy_host }}
IS_PROXY_PORT={{ is_proxy_port }}
IS_ADMIN_NAME={{ is_admin_user }}
IS_ADMIN_PASSWORD={{ is_admin_password }}
IS_DB_HOST={{ is_db_host }}
IS_DB_PORT={{ is_db_port }}
IS_DB_IDENTITY={{ mysql_is_db }}
IS_DB_SHARED={{ mysql_wso2_shared_db }}
IS_DB_WSO2USER_USERNAME={{ mysql_wso2_user }}
IS_DB_WSO2USER_PASSWORD={{ mysql_wso2_password }}
# APIM connection for the token-revocation event_listener in IS
APIM_HOST={{ apim_notification_host }}
APIM_PORT={{ apim_notification_port }}
APIM_WSO2USER_USERNAME={{ apim_notification_user }}
APIM_WSO2USER_PASSWORD={{ apim_notification_password }}
