VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/airforce
VITE_ASGARDEO_CLIENT_ID=[xxxxxxxxxxxxxxxx CLIENT ID xxxxxxxxxxxxxxxxx]
VITE_SIGNIN_REDIRECT_URL=https://app-uat.emis.moe.gov.lk/authentication/callback
VITE_SIGNOUT_REDIRECT_URL=https://app-uat.emis.moe.gov.lk/logout

VITE_API_BASE_URL=https://api-uat.emis.moe.gov.lk/api/test
