# [ inventory for UAT Environment
# inventory/uat.yml
all:
  vars:
    # env
    env: uat
    # ansible vars
    ansible_user: ansible
    ansible_port: 22
    ansible_ssh_private_key_file: [##-SSH-PRIVATE-KEY-PATH-##]
    ansible_python_interpreter: /usr/bin/python3
    ansible_ssh_common_args: >-
      -o StrictHostKeyChecking=no
      -o ProxyJump=ansible@[##-JUMPBOX_IP-##]

  children:                  
    services:                 
      children:
        # React Frontend                   
        frontend_service:          
          hosts:                   
            uat_frontend:          
              ansible_host: [##-HOST-IP-##]
        
        # PHP + Laravel Backend
        backend_service:           
          hosts:                
            uat_backend:           
              ansible_host: [##-HOST-IP-##]

        # WSO2 Identity Server
        is_service:                
          hosts:                   
            uat_is:               
              ansible_host: [##-HOST-IP-##]

        # WSO2 API Manager
        apim_service:              
          hosts:                   
            uat_apim:            
              ansible_host: [##-HOST-IP-##]


    # MYSQL Databases for services
    databases:                
      hosts:                  
        uat_db:               
          ansible_host: [##-HOST-IP-##]
