{
    # Enable FrankenPHP
    frankenphp
}

# Use {$SERVER_NAME} with a fallback to localhost
http://{$SERVER_NAME:localhost}, :80 {
    # Set this to the directory where your main index.php lives
    root * /app/public 
    
    # Execute PHP files
    php_server
}
