/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & old Edge */
  scrollbar-width: none; /* Firefox */
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}
