---
all:
  vars:
    ansible_user: user
    ansible_private_key_file: path/to/key/key 

  children:

    # ── Jumpbox (public-facing, no proxy hop) ───────────────────────
    jumpbox:
      hosts:
        uat-jump:
          ansible_host: 0.0.0.1

    # ── All private hosts (routed through jumpbox) ──────────────────
    private_hosts:
      vars:
        ansible_ssh_common_args: >-
          -o StrictHostKeyChecking=no
          -o ProxyJump=user@0.0.0.1
      children:

        swarm_managers:
          hosts:
            uat-node:
              ansible_host: 0.0.0.2

        swarm_workers:
          hosts:
            uat-node:              # same VM — manager is also its own worker
              ansible_host: 255.255.255.3

        db_host:
          hosts:
            uat-db:              # MySQL on bare metal of db  VM
              ansible_host: 192.255.255.4
