IS_HOSTNAME=

# proxy
IS_PROXY_HOST=
IS_PROXY_PORT=

# admin password
IS_ADMIN_NAME=
IS_ADMIN_PASSWORD=

# database
IS_DB_HOST=
IS_DB_PORT=
IS_DB_WSO2USER_USERNAME=
IS_DB_WSO2USER_PASSWORD=

IS_DB_IDENTITY=
IS_DB_SHARED=

# api manager
APIM_HOST=
APIM_PORT=
APIM_WSO2USER_USERNAME=
APIM_WSO2USER_PASSWORD=
